USE [master]
GO
/****** Object:  Database [g2]    Script Date: 07.09.2023 23:53:15 ******/
CREATE DATABASE [g2]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'g2', FILENAME = N'C:\Users\lias\g2.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'g2_log', FILENAME = N'C:\Users\lias\g2_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [g2].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [g2]
GO
USE [g2]
GO
/****** Object:  Table [dbo].[Record$]    Script Date: 07.09.2023 23:53:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Record$](
	[IdRecord] [float] NULL,
	[ServiceName] [nvarchar](255) NULL,
	[DataBeginingService] [datetime] NULL,
	[Client] [nvarchar](255) NULL,
	[IdClient] [float] NULL,
	[IdService] [float] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Service$]    Script Date: 07.09.2023 23:53:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Service$](
	[NameService] [nvarchar](255) NULL,
	[IdService] [float] NULL,
	[MainPhoto] [nvarchar](255) NULL,
	[Time] [float] NULL,
	[Price] [float] NULL,
	[Discount] [float] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User$]    Script Date: 07.09.2023 23:53:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User$](
	[MiddleName] [nvarchar](255) NULL,
	[IdUser] [float] NULL,
	[Name] [nvarchar](255) NULL,
	[LastName] [nvarchar](255) NULL,
	[Gender] [nvarchar](255) NULL,
	[Telephone] [nvarchar](255) NULL,
	[DateOfBitrth] [datetime] NULL,
	[Email] [nvarchar](255) NULL,
	[DateOfRegistration] [datetime] NULL
) ON [PRIMARY]
GO
INSERT [dbo].[Record$] ([IdRecord], [ServiceName], [DataBeginingService], [Client], [IdClient], [IdService]) VALUES (1, N'Урок в группе французского языка для школьников', CAST(N'2019-11-16T11:20:00.000' AS DateTime), N'Суворова', 49, 10)
INSERT [dbo].[Record$] ([IdRecord], [ServiceName], [DataBeginingService], [Client], [IdClient], [IdService]) VALUES (2, N'Индивидуальный онлайн-урок немецкого языка по Skype', CAST(N'2019-01-11T18:10:00.000' AS DateTime), N'Колобова', 37, 41)
INSERT [dbo].[Record$] ([IdRecord], [ServiceName], [DataBeginingService], [Client], [IdClient], [IdService]) VALUES (3, N'Киноклуб итальянского языка для студентов', CAST(N'2019-12-01T14:40:00.000' AS DateTime), N'Колобова', 37, 19)
GO
INSERT [dbo].[Service$] ([NameService], [IdService], [MainPhoto], [Time], [Price], [Discount]) VALUES (N'Занятие с репетитором-носителем китайского языка', 1, N' Китайский язык.jpg', 120, 1950, 0)
INSERT [dbo].[Service$] ([NameService], [IdService], [MainPhoto], [Time], [Price], [Discount]) VALUES (N'Индивидуальный урок немецкого языка с преподавателем-носителем языка', 2, N' Немецкий язык.png', 110, 1340, 0)
INSERT [dbo].[Service$] ([NameService], [IdService], [MainPhoto], [Time], [Price], [Discount]) VALUES (N'Киноклуб китайского языка для студентов', 3, N' киноклуб.jpg', 100, 1990, 0)
GO
INSERT [dbo].[User$] ([MiddleName], [IdUser], [Name], [LastName], [Gender], [Telephone], [DateOfBitrth], [Email], [DateOfRegistration]) VALUES (N'Васильев', 1, N'Оскар', N'Богданович', N'м', N'7(585)801-94-29 ', CAST(N'1971-01-30T00:00:00.000' AS DateTime), N'miturria@verizon.net', CAST(N'2017-05-28T00:00:00.000' AS DateTime))
INSERT [dbo].[User$] ([MiddleName], [IdUser], [Name], [LastName], [Gender], [Telephone], [DateOfBitrth], [Email], [DateOfRegistration]) VALUES (N'Лазарев', 2, N'Алексей', N'Богданович', N'м', N'7(0055)737-37-48 ', CAST(N'1977-03-10T00:00:00.000' AS DateTime), N'claesjac@me.com', CAST(N'2017-01-02T00:00:00.000' AS DateTime))
INSERT [dbo].[User$] ([MiddleName], [IdUser], [Name], [LastName], [Gender], [Telephone], [DateOfBitrth], [Email], [DateOfRegistration]) VALUES (N'Казаков', 3, N'Дмитрий', N'Русланович', N'м', N'7(51)682-19-40 ', CAST(N'1978-12-15T00:00:00.000' AS DateTime), N'ozawa@verizon.net', CAST(N'2016-05-21T00:00:00.000' AS DateTime))
GO
USE [master]
GO
